<div class="main-content">
	<div class="container-fluid">

			<div class=" col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="red">
            <p> Tasks:</p>
            <i class="material-icons">compare_arrows</i> Recorrection
					</div>
          
					<div class="card-content">
						<div class="tab-content">
							<div class="tab-pane active" id="recorrection">
					
								<form (ngSubmit)="onSubmit()">
									<div class="row">
									<div class="col-md-6">
									<div class="form-group">
										<label for="moduleSelect">Select Module:</label>
										<select #select class="form-control" id="moduleSelect" (change)="onChange(select.value)">
										<option *ngFor="let module of registeredModules" [value]="module">{{module}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group label-floating">
											<label>Expected Result:</label>
											<input type="text" class="form-control" [(ngModel)]="result" name="ModuleResult">
											
                    </div>
                    
									</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                          <label>Why you deserved this:</label>
                          <input type="text" class="form-control" [(ngModel)]="reason" name="Reason">
                          
                        </div>
                        
                      </div>
                </div>
									<input type="submit" class="btn btn-danger" value="Submit">
								</form>
											  
					
								
							</div>
																  
						</div>
					</div>
				</div>
		  
	</div>
</div>